<template>
  <b-container>
    <b-row class="d-flex justify-content-around">
      <h1>Appointments</h1>
    </b-row>
    <Table/>
  </b-container>
</template>

<script>
import Table from '@/components/Table.vue';

export default {
  name: 'appointments',
  components: {
    Table,
  },
};
</script>
