<template>
    <div class="container">
      <pie-chart
      v-if="loaded"
      :chartdata="datacollection"
      :options="options"/>
      <bar-chart
      v-if="loaded"
      :chartdata="datacollection"
      :options="options"/>

      <div class="row" v-if="loaded">
        <div class="col">
          <bar-chart
          v-for="item in dataSet"
          :key="item.country"
          :chartdata="{
              labels: ['Tatal Cases','Total Deaths',],
              datasets: [
                {
                  barPercentage: 1.0,
                  categoryPercentage: 0.5,
                  label: item.country,
                  backgroundColor: '#f87979',
                  data: [item.cases,item.deaths,],
                },
              ],
              chartOptions: {
                responsive: true,
                maintainAspectRatio: false,
              },
            }"
          :options="options"/>
        </div>

        <div class="col">
          <bar-chart
          v-for="item in dataSet"
          :key="item.country"
          :chartdata="{
              labels: ['TodayCases','TodayDeaths'],
              datasets: [
                {
                  barPercentage: 1.0,
                  categoryPercentage: 0.5,
                  label: item.country,
                  backgroundColor: '#f87979',
                  data: [item.todayCases, item.todayDeaths],
                },
              ],
              chartOptions: {
                responsive: true,
                maintainAspectRatio: false,
              },
            }"
          :options="options"/>
        </div>
      </div>
    </div>
</template>

<script>
import axios from 'axios';

import BarChart from '@/components/BarChart.vue';
import PieChart from '@/components/PieChart.vue';

export default {
  components: {
    BarChart,
    PieChart,
  },

  data() {
    return {
      datacollection: {
        labels: [],
        datasets: [
          {
            label: 'Total Cases',
            backgroundColor: ['#f87979', '#0074D9', '#FF4136', '#2ECC40'],
            data: [],
          },
        ],
        chartOptions: {
          responsive: true,
          maintainAspectRatio: false,
        },
      },

      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
            },
          }],
        },
      },

      loaded: false,

      dataSet: null,

      arrActive: [],
      arrCases: [],
      arrCasesPerOneMillion: [],
      arrCountry: [],
      arrCritical: [],
      arrDeaths: [],
      arrDeathsPerOneMillion: [],
      arrRecovered: [],
      arrTestsPerOneMillion: [],
      arrTodayCases: [],
      arrTodayDeaths: [],
      arrTotalTests: [],
    };
  },
  async created() {
    const { data } = await axios.get('https://coronavirus-19-api.herokuapp.com/countries');
    this.dataSet = data;
    console.log(this.dataSet[0].country);

    data.forEach((d) => {
      const {
        country,
        cases,
        todayCases,
        deaths,
        todayDeaths,
        recovered,
        active,
        critical,
        casesPerOneMillion,
        deathsPerOneMillion,
        totalTests,
        testsPerOneMillion,
      } = d;

      this.arrCountry.push(country);
      this.arrCases.push(cases);
      this.arrTodayCases.push(todayCases);
      this.arrDeaths.push(deaths);
      this.arrTodayDeaths.push(todayDeaths);
      this.arrRecovered.push(recovered);
      this.arrActive.push(active);
      this.arrCritical.push(critical);
      this.arrCasesPerOneMillion.push(casesPerOneMillion);
      this.arrDeathsPerOneMillion.push(deathsPerOneMillion);
      this.arrTotalTests.push(totalTests);
      this.arrTestsPerOneMillion.push(testsPerOneMillion);

      this.datacollection.labels = this.arrCountry;
      this.datacollection.datasets[0].data = this.arrCases;
    });
    this.loaded = true;
  },

};

</script>

<style>
</style>
