<template>
  <b-container>
    <b-row class="d-flex justify-content-around">
      <h1>Add Appointment</h1>
    </b-row>
    <Form/>
  </b-container>
</template>

<script>
// @ is an alias to /src
import Form from '@/components/Form.vue';

export default {
  name: 'Home',
  components: {
    Form,
  },
};
</script>
