<template>
  <b-container>
    <b-row class="d-flex justify-content-around">
      <h2 class="">Login</h2>
    </b-row>

    <b-row cols="1" cols-sm="1"  cols-md="2" cols-lg="3" cols-xl="3" class="m-3">
      <form class="container p-3 border" action="#" @submit.prevent="login">
        <b-row class="d-flex justify-content-around">
          <b-form-group class="col-12" label="Email:">
            <b-form-input
            id="email"
            v-model="username"
            required
            placeholder="Email"
            ></b-form-input>
          </b-form-group>
        </b-row>

        <b-row class="d-flex justify-content-around">
          <b-form-group class="col-12" label="Password:">
            <b-form-input
            id="password"
            type="password"
            v-model="password"
            required
            placeholder="Password"
            ></b-form-input>
          </b-form-group>
        </b-row>

        <b-row class="d-flex p-3 justify-content-center">
          <b-button class="col-12" type="submit" variant="primary">
            <b-spinner small v-if="loading" variant="light" label="Text Centered"></b-spinner>
            Login
          </b-button>
        </b-row>
      </form>
    </b-row>
  </b-container>
</template>

<script>

export default {
  name: 'login',
  data() {
    return {
      username: '',
      password: '',
      loading: false,
    };
  },
  methods: {
    makeToast() {
      this.$bvToast.toast('Your credentials are incorrect. Please try again', {
        title: 'Login Failed',
        variant: 'danger',
        toaster: 'b-toaster-top-center',
        solid: true,
      });
    },
    login() {
      this.loading = true;
      this.$store.dispatch('retrieveToken', {
        username: this.username,
        password: this.password,
      })
        .then(() => {
          this.loading = false;
          this.$router.push({ name: 'Home' });
        })
        .catch((error) => {
          this.loading = false;
          console.log(error.response);
          this.makeToast();
          this.password = '';
        });
    },
  },
};
</script>
