<template>
  <b-container>
    <b-row class="d-flex justify-content-center mb-3">
      <b-spinner variant="primary" style="width: 9rem; height: 9rem;" label="Large Spinner">
      </b-spinner>

    </b-row>
    <b-row class="d-flex justify-content-center">
      <h3>Logging Out...</h3>
    </b-row>
  </b-container>
</template>

<script>
export default {
  created() {
    this.$store.dispatch('clearAppointments');
    this.$store.dispatch('destroyToken')
      .then((response) => {
        this.$router.push({ name: 'Login' });
      });
  },
};
</script>
