<template>
  <b-container>
    <b-row class="d-flex justify-content-around">
      <h2 class="register-heading">Register</h2>
    </b-row>

    <b-row cols-sm="1"  cols-md="2" cols-lg="3" cols-xl="3" class="d-flex m-3">
      <form class="container p-3 border" action="#" @submit.prevent="register">
        <b-row class="d-flex justify-content-around">
          <b-form-group class="col-12" label="Name:">
            <b-form-input
            id="name"
            v-model="name"
            required
            placeholder="Name"
            ></b-form-input>
          </b-form-group>
        </b-row>

        <b-row class="d-flex justify-content-around">
          <b-form-group class="col-12" label="Email:">
            <b-form-input
            type="email"
            id="email"
            v-model="email"
            required
            placeholder="Email"
            ></b-form-input>
          </b-form-group>
        </b-row>

        <b-row class="d-flex justify-content-around">
          <b-form-group class="col-12" label="Password:">
            <b-form-input
            id="password"
            type="password"
            v-model="password"
            required
            placeholder="Password"
            ></b-form-input>
          </b-form-group>
        </b-row>

        <b-row class="d-flex p-3 justify-content-around">
          <b-button class="col-12" type="submit" variant="primary">
            <b-spinner small v-if="loading" variant="light" label="Text Centered"></b-spinner>
            Register
          </b-button>
        </b-row>
      </form>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      name: '',
      email: '',
      password: '',
      loading: false,
    };
  },
  methods: {
    register() {
      this.$store.dispatch('register', {
        name: this.name,
        email: this.email,
        password: this.password,
      })
        .then(() => {
          this.loading = false;
          this.$router.push({ name: 'Login' });
        })
        .catch((error) => {
          this.loading = false;
          console.log(error.response);
        });
    },
  },
};
</script>
