<template>
  <b-container class="container p-3 my-3 border">
    <b-form class="col-12" @submit="addAppointment" @reset="onReset" v-if="show">

      <b-row class="d-flex justify-content-around">
        <b-form-group class="col-6" id="row" label="Customer Name:" label-for="input-2">
          <b-form-input
            id="input-2"
            v-model="form.customerName"
            required
            placeholder="Enter name"
          ></b-form-input>
        </b-form-group>
        <b-form-group class="col-6" id="input-group-3" label="Choose Date:" label-for="input-3">
          <b-form-input
            id="meeting-time"
            type="datetime-local"
            v-model="form.time"
            required
          ></b-form-input>
        </b-form-group>
      </b-row>

      <b-row class="d-flex justify-content-around">
        <b-form-group class="col-12" id="row" label="Choose Appointment Place (From Map):"
        label-for="input-5">
          <GmapMap
            :center="{lat:36.659632, lng:29.126438}"
            :zoom="11"
            map-type-id="hybrid"
            style="width: %100; height: 400px; auto;"
            @click="clicked"
          >
            <GmapMarker :position="{lat:36.659632, lng:29.126438}" label="" >
              <GmapInfoWindow>Office</GmapInfoWindow>
            </GmapMarker>
            <GmapMarker v-if="form.location" :position="form.location.latLng" label="" />
          </GmapMap>
        </b-form-group>
      </b-row>

      <b-row cols="3" cols-sm="3"  cols-md="6" class="d-flex justify-content-around">
        <b-button type="submit" variant="primary">
          Submit
        </b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-row>
    </b-form>
  </b-container>
</template>

<script>
const moment = require('moment');

export default {
  name: 'Form',
  props: {
    msg: String,
  },
  data() {
    return {
      form: {
        id: '',
        customerName: '',
        time: '',
        location: '',
      },
      id: 1,
      show: true,
    };
  },

  created() {
    this.$store.dispatch('retrieveAppointments');
  },
  methods: {
    makeToast() {
      this.$bvToast.toast('You can see appointments under APPOINTMENTS tab', {
        title: 'Appointment Added',
        variant: 'primary',
        toaster: 'b-toaster-top-left',
        solid: true,
      });
    },
    addAppointment(evt) {
      evt.preventDefault();

      const time = moment(this.form.time);
      time.format('MMMM Do YYYY, h:mm:ss a');

      const suggestOut = time.clone().subtract(Math.ceil(this.$store.state.arrivetime.time[1] / 60), 'minutes').format('LT');
      const estimatReturn = time.clone().add(Math.ceil(this.$store.state.arrivetime.time[1] / 60 + 60), 'minutes').format('LT');

      this.$store.dispatch('addAppointment', {
        id: this.id,
        customerName: this.form.customerName,
        time: time.clone().format('lll'),
        suggestedOut: (suggestOut),
        estimatedReturn: (estimatReturn),
        distance: Math.ceil(this.$store.state.arrivetime.distance[1]),
      })
        .then(() => {
          this.loading = false;
          this.makeToast();
          this.$router.push({ name: 'Appointments' });
        })
        .catch((error) => {
          this.loading = false;
          console.log(error.response);
        });

      this.id += 1;
    },
    onReset(evt) {
      evt.preventDefault();

      // Reset our form values
      this.form.customerName = '';
      this.form.time = '';
      this.form.location = '';
    },
    clicked(e) {
      this.form.location = {
        latLng: e.latLng,
      };
      this.$store.dispatch('getArrivetime', {
        location: JSON.parse(JSON.stringify(this.form.location.latLng)),
      });
    },
  },
};
</script>
