<template>
  <div id="app">
    <ul class="nav">
      <li><router-link to="/">Home</router-link> | </li>
      <li><router-link to="/chart">Chart</router-link> | </li>
      <li v-if="loggedIn"><router-link to="/appointments">Appointments</router-link> | </li>
      <li v-if="!loggedIn"><router-link to="/login">Login</router-link> | </li>
      <li v-if="!loggedIn"><router-link to="/register">Register</router-link> </li>
      <li v-if="loggedIn"><router-link to="/logout">Logout</router-link> </li>
    </ul>
    <router-view/>
  </div>
</template>

<script>
export default {
  computed: {
    loggedIn() {
      return this.$store.getters.loggedIn;
    },
  },
};
</script>

<style>

.nav {
    display: flex;
    list-style: none;
    padding: 15px 0;
    margin: 0;
    justify-content: flex-end;
    background: #F5F8FA;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 24px;
  }

  .nav a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

</style>
